/*///////////////////////// GENERALES /////////////////////////*/

body {
  font-family: 'Rubik',
    sans-serif;
  color: #1F2549;
}

* {
  scroll-behavior: smooth;
}

section {
  overflow: hidden !important;
}


.lh-100 {
  line-height: 1;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-300 {
  font-weight: 300;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-30 {
  font-size: 30px;
}

h1 {
  font-size: 63px;
  line-height: 1;
}

h2 {
  font-size: 48px;
  line-height: 1;
}

p {
  font-size: 18px;
}

b {
  font-weight: 700;
}

.btn {
  border-radius: 30px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px 24px;
}

.btn-primary {
  background: #E8521C !important;
  color: #fff;
  border: 2px solid #E8521C !important;
  transition: all ease .25s;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
  background: #c93701 !important;
  color: #fff !important;
  border: 2px solid #c93701 !important;
  transition: all ease .25s;
  box-shadow: none !important;

}

.btn-secondary {
  border: 2px solid white;
  background-color: transparent;
  color: #fff;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
  background: #fff !important;
  color: #E8521C !important;
  border: 2px solid #fff !important;
  transition: all ease .25s;
  box-shadow: none !important;
}

.primary {
  color: #E8521C !important;
}

.primary-bg {
  background: #E8521C !important;
}

.secondary {
  color: #212B68;
}

.secondary-bg {
  background: #212B68;
}


/* HEADER  */

.menu {
  background-color: transparent;
  -webkit-transition: background 0.3s 0s linear;
  -moz-transition: background 0.3s 0s linear;
  -o-transition: background 0.3s 0s linear;
  transition: background 0.3s 0s linear;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  padding: 15px 0px;
}

.navbar {
  z-index: 5;
  width: 100%;
  padding: 0.8rem 0rem;
  border-radius: 0px !important;

}

.nav-link {
  font-size: 16px;
  font-weight: 600;
  color: white !important;
  margin-right: 1rem !important;
  margin-left: 1rem !important;
  padding-bottom: 0px;
  position: relative;
  transition: linear 0.2s;
  padding: 8px 15px !important;
}

.nav-link::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  background-color: #fff;
  top: 0;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transition: linear .3s;
  width: 20%;
  opacity: 1;
}

.nav-item.active .nav-link::before {
  transform: scaleX(1);
  transition: linear .3s;
  width: 20%;
  opacity: 1;
}

/* Bs nav para el menú mobile */
.navbar-toggler-icon,
.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  background-color: white !important;
  transition: .3s;
}

.bsnav-mobile .navbar {
  left: 0 !important;
  transform: translate3d(-300px, 0, 0) !important;
  box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 2px 2px 5px -2px rgba(0, 0, 0, 0.65);
}

.bsnav-mobile .navbar .nav-link {
  color: #fff !important;
}

.bsnav-mobile.in .navbar {
  transform: translate3d(0px, 0, 0) !important;
  background-color: #1F2549;
}

.header-overlay {
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  background: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.15) 30%, #202945);
  background: linear-gradient(0deg, transparent 0, rgba(0, 0, 0, 0.15) 30%, #202945);
  z-index: 2;
  opacity: .7;
}



.nav-shadow {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.bg-blue {
  background-color: #1F2549 !important;
}

/* MAIN */

.main-section {
  background: url("../images/main-bg.png");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 85vh;
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.carousel {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -5;
  height: 100%;
  width: 60%;
}

.carousel-inner {
  height: 100%;
}

.carousel-item,
.carousel-item.active {
  height: 100%;
}

.carousel-item img,
.carousel-item.active img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* BANNER */

.desafio {
  background: url("../images/banner.png");
  background-position: center center;
  background-size: auto;
  background-repeat: no-repeat;
  min-height: 292px;
  display: flex;
  align-items: center;
  margin: 110px 0px;
}

/* Servicios */
.servicios p {
  font-size: 16px;
}

.icon-container {
  background-image: url("../images/icons-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position-x: 35px;
}

.icon-container img {
  transition: all .3s;
  height: 75px;
  width: 85px;

}

.margin-left-icons-sm {
  margin-left: 30px;
}

.icon-container:hover img {
  transform: scale(1.1);
}

/* BANNER */

.somos {
  background: url("../images/somos.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 400px;
  display: flex;
  align-items: center;
  margin: 110px 0px;
}


/* CONTACTO */

.contacto {
  padding: 50px 0px 170px 0px;
}

.contacto form input,
.contacto form textarea {
  font-weight: 400;
  font-size: 16px;
  color: #1F2549;
  border-radius: 9px;
}

.contacto form input::-webkit-input-placeholder,
.contacto form textarea::-webkit-input-placeholder {
  color: #1F2549 !important;
}

.contacto form input:-moz-placeholder,
.contacto form textarea:-moz-placeholder {
  color: #1F2549 !important;
}

.contacto form input::-moz-placeholder .contacto form textarea::-moz-placeholder {
  color: #1F2549 !important;
}

.contacto form input:-ms-input-placeholder,
.contacto form textarea:-ms-input-placeholder {
  color: #1F2549 !important;
}

.contacto .form-control:not(textarea) {
  height: calc(1.8em + 1rem + 2px);
}

.contacto .form-control:focus {
  color: #1F2549;
  border-color: #E8521C;
  outline: 0;
  box-shadow: none;
}


/* FOOTER */
footer {
  background: #1F2549;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 125px 0px 140px 0px;
  position: relative;
}

footer a {
  font-size: 18px;
  transition: .3s;
}

footer a:not(.social-icons a):hover {
  text-decoration: none;
  transition: .3s;
}

footer a:not(.social-icons a, .btn):hover::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f054";
  color: white;
  margin-right: 5px;
  font-size: 16px;
}

footer .social-icons a {
  font-size: 21px;
  border: 1px solid white;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .3s;
}

footer .social-icons a:hover {
  background-color: #E8521C;
  text-decoration: none;
  border-color: #E8521C;
}

.footer-divider {
  width: 80px;
  height: 2px;
  background-color: #E8521C;
  margin: 0 auto;
}

.copyright {
  background: #1F2549;
  border-top: 1px solid #ffffff3d;
  position: absolute;
  bottom: 0;
  font-size: 18px;
  font-weight: 300;
}


.recorremos {
  background-image: url("../images/footer.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: auto;
  min-height: 135px;
  display: flex;
  align-items: center;
  position: absolute;
  width: 100%;
  top: -75px;
}

/* RESPONSIVE */
@media (min-width: 768px) {
  .navbar {
    border-radius: 0px !important;
  }
}

@media (max-width: 1440px) {
  .somos {
    margin: 100px 0px 30px 0px;
  }

  .recorremos {
    background-position-x: -400px;
  }

}

@media (max-width: 1024px) {

  .nosotros-img {
    margin-left: -45px;
  }

  .icon-container {
    background-position-x: 5px;
  }

  .margin-left-icons-sm {
    margin-left: 5px;
  }

  .desafio {
    background: url(../images/banner.png);
    background-position: right center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 192px;
    margin: 110px 0px;
  }

  .somos {
    margin: 80px 0px 40px 0px;
  }

  .experiencia {
    text-align: center;
  }

  .experiencia img {
    margin-right: -70px;
  }

  .recorremos {
    background-position-x: -700px;
  }
}

@media (max-width: 768px) {
  .nav-link {
    padding: 25px 0px;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 42px;
  }

  .main-section {
    background-position-x: -180px;
  }

  .carousel {
    width: 70%;
  }

  .icon-container {
    background-image: url("../images/icons-bg.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .icon-container img {
    transition: all .3s;
    height: 65px;
    width: 65px;
  }

  .margin-left-icons-sm {
    margin-left: 5px;
    margin-bottom: 15px;
  }

  .desafio {
    min-height: 240px;
  }

  .somos {
    margin: 80px 0px 40px 0px;
  }

  .recorremos {
    background-position-x: -950px;
  }

}

@media (max-width: 525px) {
  h1 {
    font-size: 44px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 30px;
  }

  .main-section {
    background: url(../images/bg-mobile.svg);
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 90vh;
  }

  .nosotros {
    padding: 15px
  }

  .nosotros p {
    margin-top: 25px;
  }

  .icon-container {
    background-position: center;
  }

  .margin-left-icons-sm {
    margin-bottom: 0px;
  }

  .desafio {
    margin: 10px 0px 90px 0px;
  }

  .experiencia {
    padding: 15px
  }

  .recorremos {
    background-size: cover;
    min-height: 255px;
    top: -175px;
    text-align: center;
  }

  .recorremos p {
    margin-bottom: 25px !important;
  }

  .recorremos a {
    margin: 0 auto;
  }

  .contacto {
    padding: 0px 0px 170px 0px;
  }

  .copyright {
    font-size: 16px;
  }

}

@media (max-width: 375px) {
  .navbar img {
    max-width: 230px;
  }

  .desafio {
    min-height: 300px;
  }
}